<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- Relative time, timestamp, thread, package, new line -->
            <param name="ConversionPattern" value="%m%n"/>
        </layout>
    </appender>
    <appender name="rotating_file" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1024KB"/>
        <param name="file" value="logs/reporter.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <logger name="com.jjdevbros.castellan.injector">
        <level value="Info"/>
        <appender-ref ref="Console"/>
    </logger>
    <root>
        <level value="Debug"/>
        <appender-ref ref="rotating_file"/>
    </root>
</log4j:configuration>